.App {
  text-align: center;
  margin: 10px;
}

.pagination-container {
  margin: 10px;
}

.pagination-arrow {
  cursor: pointer;
}

.page-number {
  margin: 5px;
  padding: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  padding: 5px;
}

.product-image {
  width: 100px;
  height: 100px;
}
